@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient( to right, #DBF227, #9FC131 );
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 92, 83, 0.534) ;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 92, 83, 0.521) ;
    color: #005C53 ;
}

h2 {
    color:#a1a05d ;
    text-shadow: 1px 1px 2px rgba(170, 170, 98, 0.459);
}

p {
    text-align: justify;
}